<html>
    <head>
        <meta charset = "UTF-8">
    </head>
    <style>
        .error{
            color:red
        }
        .success{
            color:green
        }
    </style>
    <body>
        <form action="loginAccount" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="emailName" value=""><br><br>
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="passwordName"><br><br>
        <input type="submit" value="Login">

        </form>
        <span class="error">{{.ErrorMsg}}</span>
        <span class="success">{{.SuccessMsg}}</span>
    </body>
</html>